In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv(r"D:\Projects\SummerDir\datasets\Churn_Modelling.csv")

In [3]:
ds.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
ds.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
y = ds['Exited']

In [6]:
X = ds[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']]

In [7]:
geo = ds['Geography']

In [8]:
geo = pd.get_dummies(geo,drop_first=True)

In [9]:
geo

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [10]:
gender = ds['Gender']

In [11]:
gender = pd.get_dummies(gender,drop_first=True)

In [12]:
gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [13]:
X_final = pd.concat([X,gender,geo],axis=1)

In [14]:
X_final

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X_final,y,test_size=0.20,random_state=42)

In [17]:
X_train.shape

(8000, 11)

In [18]:
X_test.shape

(2000, 11)

In [19]:
from keras.models import Sequential

In [20]:
model = Sequential()

In [21]:
model.get_config()

{'name': 'sequential', 'layers': []}

In [22]:
from keras.layers import Dense

In [23]:
model.add(Dense(bias_initializer="zeros",kernel_initializer="zeros",activation="relu",units=8,input_dim=11))

In [24]:
model.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 11),
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [25]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
=================================================================
Total params: 96
Trainable params: 96
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.get_layer("dense").get_weights()

[array([[0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)]

In [27]:
model.add(Dense(activation="relu",units=6,))

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
=================================================================
Total params: 150
Trainable params: 150
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.get_layer("dense_1").get_weights()

[array([[-0.39029607, -0.25053608, -0.22649142,  0.592062  ,  0.08334601,
          0.5697212 ],
        [ 0.614956  ,  0.1594224 , -0.55367935,  0.6203139 ,  0.48632002,
          0.3341056 ],
        [ 0.01117873,  0.64053655,  0.2700522 , -0.2376205 ,  0.5071001 ,
         -0.02350885],
        [-0.55326134,  0.63751125,  0.48258102, -0.16502538, -0.44777173,
          0.3382722 ],
        [-0.18033028, -0.40641588,  0.5738826 ,  0.01411355, -0.0519945 ,
         -0.5137874 ],
        [-0.3792071 ,  0.42403042,  0.52613187,  0.6384491 , -0.4644695 ,
         -0.27211562],
        [-0.06857789, -0.19146731, -0.01827604,  0.5687822 ,  0.6388974 ,
          0.310013  ],
        [-0.08257651, -0.10841846, -0.11720324,  0.31660855, -0.14506209,
         -0.4125371 ]], dtype=float32),
 array([0., 0., 0., 0., 0., 0.], dtype=float32)]

In [30]:
model.add(Dense(activation="sigmoid",units=1,))

In [31]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 157
Trainable params: 157
Non-trainable params: 0
_________________________________________________________________

In [32]:
model.compile(optimizer="adam",loss="binary_crossentropy")

In [ ]:
model.fit(X_train,y_train,epochs=100)

Epoch 1/100

In [ ]:
model.get_weights()

In [ ]:
l = pd.DataFrame(model.history.history)

In [ ]:
l.plot()